<!DOCTYPE html>
<html>
   <head>
     <meta charset='utf-8'>
     <title> Home Page </title>

   </head>
   <body>
     {{> header}}
     <p> {{screamIt welcomeMessage}} </p>
     <!-- second parameter is the data you want to pass into the first parameter if it is a function    -->
     {{> footer}}

   </body>



</html>
